---
import BaseLayout from "../layouts/base-layout.astro";

const page_title = "About me";

const identity = {
  first_name: "Jakub",
  country: "Poland",
  occupation: "Frontend Developer",
  hobbies: [
    "sports",
    "music",
    "guitar playing",
    "video games",
    "fantasy sports games",
  ],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skill_color = "navy";
const font_weight = "bold";
const text_case = "uppercase";
---

<BaseLayout page_title={page_title}>
  <style define:vars={{ skill_color, font_weight, text_case }}>
    .skill {
      color: var(--skill_color);
      font-weight: var(--font_weight);
      text-transform: var(--text_case);
    }
  </style>

  <h2>... and my new Astro site!</h2>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>

  <section>
    <h3>Here are a few facts about me:</h3>
    <ul>
      <li>My name is {identity.first_name}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
  </section>

  <section>
    <h3>My skills are:</h3>
    <ul>{skills.map((skill) => <li class="skill">{skill}</li>)}</ul>
  </section>

  <section>
    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
  </section>
</BaseLayout>
