---
import Tags from "../components/tags.astro";
import type { Frontmatter } from "../types";
import BaseLayout from "./base-layout.astro";

interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
---

<BaseLayout page_title={frontmatter.title}>
  <p>{frontmatter.pubDate.toISOString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <Tags tags={frontmatter.tags} />
  <slot />
</BaseLayout>
