---
interface Props {
  frontmatter: {
    title: string;
    author: string;
    pubDate: string;
    description: string;
    image: { url: string; alt: string };
    tags: Array<string>;
  };
}

const { frontmatter } = Astro.props;
---

<h1>{frontmatter.title}</h1>
<p>{frontmatter.pubDate.slice(0, 10)}</p>
<p><em>{frontmatter.description}</em></p>
<p>Written by: {frontmatter.author}</p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<slot />
<ul class="tags">
  {frontmatter.tags.map((tag) => <li class="tag">{tag}</li>)}
</ul>

<style>
  .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  .tag {
    padding: 0.5rem;
    background: violet;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
</style>
